{% extends 'hypermarket/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
{#        {% if user.is_authenticated %}#}
{#            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span#}
{#                    class="glyphicon glyphicon-pencil"></span></a>#}
{#        {% endif %}#}
        <h1>{{ post.title }}</h1>
        <p>"post Details"</p>
        {% if post.picture %}
            <a href="{{post.picture.url}}" target="_blank"><img src={{ MEDIA_URL }}{{ post.picture.url }}></a>
        {% else %}
            <a href="{{ MEDIA_URL }}{{ "NoPictureAvailable.png" }}" target="_blank">
                <img src="{{ MEDIA_URL }}{{ "NoPictureAvailable.png" }}"></a>
        {% endif %}
        <p>{{ post.text }}</p>
    </div>
{% endblock %}