{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TShop</title>

    <link rel="shotcut icon" href="{% static 'media/images/favicon.png' %}">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="{% static 'static_dev/css/bootstrap.min.css' %}">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'static_dev/css/style.css' %}">

    {% block styles %}
    {% endblock styles %}
</head>
<body>
{#<div class="wrapper">#}
    <div class="wrapper-content">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'footer.html' %}

{#</div>#}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

<script src="{% static 'static_dev/js/bootstrap.min.js' %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'static_dev/js/scripts.js' %}"></script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>