{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="selection-top">
        <img class="my-img" src={% static "media/images/slider0.jpg" %}>
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Новые поступления
                    </h1>
                </div>
                {% for item in products_images %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="container text-center" style="margin-top: 10%">
            <select name="select-category">

                <option value="default">Выбери категорию</option>
                {% for product in product_categories %}
                    <option>{{ product.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-success">
                Отфильтровать
            </button>
        </div>

        <div class="col-lg-12">
            <h1 class="text-center">
                Товыры категории {{ category }}
            </h1>
        </div>

        <div class="section section1">
            <div class="container">
                <div class="row">

                    {% for item in selected_category_products %}

                        {% include 'landing/product_item.html' %}


                    {% endfor %}
                </div>
            </div>
        </div>
    </form>



{% endblock content %}