{#<div class="col-lg-4">#}
<div class="product-item">
    {% if item.image %}
        <div class="my-img" id="{{ item.image }}">
            <a href="{% url 'product' item.product.id %}">
                <img src="{{ item.image.url }}" class="img-responsive" >
            </a>
        </div>
    {% endif %}

    {% if item.product.discount > 0 %}
        <div class="discount">
            <span>discount: {{ item.product.discount }}%</span>
        </div>
    {% endif %}
    <div id="text-after">
        <h3>
            {{ item.product.name }}
        </h3>
        <h6>
            {{ item.product.price }} BYN
        </h6>
        {{ item.product.description|truncatechars:50 }}
    </div>

    {#        <div class="add-to-card-btn">#}
    {#            <button class="btn btn-success">#}
    {#                Добавить в корзину#}
    {#            </button>#}
    {#        </div>#}
</div>
{#</div>#}