html, body {
    height: 100%;
    font-family: 'Philosopher', sans-serif;
    background-color: #edeef0;
    line-height: 1.15;
}
body {
    margin-top: 50px;
}

body {
  -ms-overflow-style: scrollbar; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }


.section-top {
    margin-top: 50px;
    position: relative;
}

.product-description-tabs {
    padding: 10px;
}

.section {
    padding-top: 50px;
}

.section h1 {
    margin-bottom: 40px;
}

.product-item {
    height: 360px;
    background-color: white;
    border: 5px solid #e4e4e4;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
}

.discount {
    position: absolute;

    text-align: -webkit-left;
    top: 40%;
    left: 65%;
    background: #eb5e58;
    border-radius: 5px;
    color: #fff;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 3px 5px;
}

.price {
    margin-left: 10px;
    color: #fff;
    background: #db2d31;
    font-family: MyriadProCondencedBoldItalic, serif;
    border-radius: 5px;
    padding: 5px 10px 0 5px;
    margin-right: .3em;
    position: relative;
    top: 0;
    text-align: left;
    line-height: 1;
}

.add-to-card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container {
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery {
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product-image-item {
    /*margin: 100px;*/

    padding: 5px;
    margin-bottom: 10px;
}

.img-responsive {
    /*height: 200px;*/
    /*alignment: center;*/
    /*width: 50%;*/
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    max-height: 220px;
    text-align: right;

}

.my-img {
    border-bottom: none;
    width: 100%;
    /*max-height: 250px;*/
}

.container {
    /*margin-top: 100px;*/
}

.product-section {
    margin-top: 50px;
}

.navbar-top {
    margin-top: 50px;
    height: 20px;
}

.basket-container{
    width: 500px;
}

.basket-items{
    position: absolute;
    background-color: #2e3643;
    color: #d6d6d6;
    padding: 15px;
    width: 50%;
    top: 50px;
    display: none;
}

.lgn-container {
    padding-top: 10%;
}

/*footer*/
.footer-copyright {
    font-style: normal;
    line-height: 1.6;
}



/*login*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.my-alert {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: #f8f8f8;
    color: #666
}
.my-alert-danger {
    color: #f0506e
}
.my-alert-close {
    position: absolute;
    top: 20px;
    right: 15px;
    color: inherit;
    opacity: .4
}

.my-alert-close:first-child + * {
    margin-top: 0
}

.my-alert-close:focus, .my-alert-close:hover {
    color: inherit;
    opacity: .8
}
/*end login*/


/*grow image*/
.grow {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

.grow:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/*.transition {*/
    /*transition: 3s;*/
/*}*/


/*выравнивание в корзине крестиков по правому краю*/
.delete-cross a{
    color: white;
}

main {
    padding-top: 50px;
}